.slider:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: "5px";
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch {
  height: "5px";
}
/* [type="checkbox"] {
  height: "3px";
  width: "3px";
} */
