.order_window {
  background: white;
  z-index: 99;
  top: auto;
  bottom: 0px;
  margin-top: 0em;
  width: 500px;
  position: fixed;
  left: calc(50% - 275px);
}

.submit {
  color: #fff;
  min-width: 75px;
}

.order_window.buy .header {
  color: #fff;
  background-color: #4184f3;
  border-radius: 3px 3px 0 0;
  padding: 15px 20px;
}
.order_window.sell .header {
  color: #fff;
  background-color: #fd2e3f;
  border-radius: 3px 3px 0 0;
  padding: 15px 20px;
}

.order_window .drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  cursor: move;
}

.order_window.buy .actions .submit {
  background-color: #4184f3;
  border-color: #4184f3;
}
.order_window.sell .actions .submit {
  background-color: #fd2e3f;
  border-color: #fd2e3f;
}
.order_window .footer .submit {
  color: #fff;
  min-width: 75px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="number"] {
  background: #fff;
  position: relative;
  width: 100%;
  font-size: 13px;
  color: #000;
  height: 30px;
  padding: 10px;
  flex: auto;
  align-items: flex-end;
  border-radius: 3px;
  background-image: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.order_window .variety {
  background-color: var(--color-bg-1);
  border-bottom: 2px solid var(--color-border-default);
  color: var(--color-text-1);
}

.order_window .variety {
  background-color: #f9f9f9;
  border-bottom: 2px solid #eee;
  color: #9b9b9b;
}

.order_window .variety .su-radio-wrap {
  margin: 0;
  display: inline-block;
}

.su-radio-group .su-radio {
  opacity: 0;
  position: absolute;
}

.su-radio-group .su-radio,
.su-radio-group .su-radio-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

[data-balloon] {
  position: relative;
  opacity: 1 !important;
}
