wegas-logo {
    width: 150px;
    background: url(../images/abans-logo.png) no-repeat center center;
    background-size: 70%;
    position: relative;
}

    .wegas-logo a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer
    }