.marketlive{background-color: #ffffff;width: max-content;height: 57px;padding: 0px 30px;text-align: -webkit-center;min-width: 500px;}
.marketlive .nname{text-transform: uppercase;font-weight: 700;font-size: 16px;}
.marketlive .pgreen{color: #00c707;margin: 0px 15px 0px;font-weight: 700;}
.marketlive .pred{color: #ff0606;margin: 0px 15px 0px;font-weight: 700;}
.marketlive .mpercent{font-weight: 600;}
.niftymain{display: inline-flex;color: #000000;font-weight: 700;margin: 15px 0;}
.sensexmain{display: inline-flex;color: #000000;margin-left: 30px;}